<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ data[0]}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
<nav class="navbar navbar-light bg-light">
  <span class="h3" class="navbar-brand mb-0">{{ data[1] }}</span>
</nav>
<div class="container">
	<div class="row mt-2">
		<div class="col">
			{{ data[2] }}
		</div>
	</div>

</div>





  </body>
</html>

